<main class="h-100">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="dashboard-controls col-lg-2 h-100">
				<div class="container-fluid">
					<div class="control-title row">
						<div class="col-xs-12">
							<h4><a href="/dashboard">Controls</a></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<a class=nav-link href="/dashboard/"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> Dashboard</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<a class=nav-link href="/dashboard/collections"><i class="fa fa-archive fa-lg" aria-hidden="true"></i> Collections</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<a class=nav-link href="/dashboard/settings"><i class="fa fa-gear fa-lg" aria-hidden="true"></i> Settings</a>
						</div>
					</div>
				</div>
			</div>
			<div class="h-100 dashboard-view col-lg-10">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<a href="#">
								<div class="collection">
									<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
									<h4>New</h4>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>

		</div>


	</div>
</main>
