<link rel="stylesheet" href="/stylesheets/dashboard.css">
<main class="h-100">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div id="navbarResponsive" class="dashboard-controls col-md-2 col-lg-2 collapse navbar-toggleable-sm">
				<div class="container-fluid">
						<div class="row dash-controls-title text-xs-center">
							<div class="col-sm-3 col-md-12">
								<p>Home</p>
							</div>
						</div>
						<div class="row">
							<a class=nav-link href="/dashboard/">
								<div class="dashboard-control col-sm-12 col-md-12">
									<i class="fa fa-home fa-lg" aria-hidden="true"> </i> Home
								</div>
							</a>

								<a class=nav-link href="/dashboard/collections">
									<div class="dashboard-control col-sm-12 col-md-12">
										<i class="fa fa-th-large fa-lg" aria-hidden="true"></i> Inventory
									</div>
								</a>

							</div>

							{{!--Start of settings and help row--}}
							<div class="row dash-control-settings">
									<a class=nav-link href="/dashboard/settings">
										<div class="dashboard-control col-sm-3 offset-sm-3 offset-md-0 col-md-12">
											<i class="fa fa-gear fa-lg" aria-hidden="true"> </i> Settings
										</div>
									</a>
							</div>
							{{!--End of settings row--}}

						</div>
					</div>
			<div class="h-100 dashboard-view col-md-10">
				<div class="container">
					<div class="row">

						<div class="col-lg-5">
							<div class="card add-card">
								<div class="card-block">
									<img class="avatar-small hidden-sm-down" src="{{ user.photo_url }}" alt="User Avatar">
									<input type="text" placeholder="Add something new..">
										</span class="text-xs-right"> <a   href="#">
										<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
									</a>
									<span>
								</div>
							</div>
						</div>
	
					</div>
					
				</div>
				</div>
			</div>

		</div>


	</div>
</main>
