<link rel="stylesheet" href="/stylesheets/dashboard.css">
<main class="h-100">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="dashboard-controls col-md-2 col-lg-2">
				<div class="container-fluid">
						<div class="row">
							<div class="dashboard-control col-sm-3 col-md-12">
							<a class=nav-link href="/dashboard/">
								<i class="fa fa-tachometer fa-lg" aria-hidden="true"></i> Dashboard
							</a>
							</div>

							<div class="dashboard-control col-sm-3 col-md-12">
								<a class=nav-link href="/dashboard/collections"><i class="fa fa-th-large fa-lg" aria-hidden="true"></i> Collections</a>
							</div>

							<div class="dashboard-control col-sm-3 offset-sm-3 offset-md-0 col-md-12">
								<a class=nav-link href="/dashboard/settings"><i class="fa fa-gear fa-lg" aria-hidden="true"></i> Settings</a>
							</div>

						</div>
					</div>
				</div>
			<div class="h-100 dashboard-view col-md-10">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="card text-xs-center">
								<div class="card-block">
									<a href="/dashboard/collections"> Collections</a>
									<p>{{user.collection_count}}</p>
									<p class="card-text">Whats up with all thing things and the other things</p>
									Items:
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="card text-xs-center">
								<a href="">
									<div class="card-block">
										<a href="/dashboard/collections"> Collections</a>
										<p>{{user.collection_count}}</p>
										<p class="card-text">Whats up with all thing things and the other things</p>
										Items:
									</div>

								</a>
							</div>
						</div>		
					</div>
					
				</div>
			</div>

		</div>


	</div>
</main>
