<div class="container jumbotron">

	<h1>Dashboard.hbs</h1>
	<hr>
	<h2>{{user.first_name}} {{user.last_name}}</h2>
	<h3>{{user.email}}</h3>
	<h2>Bio:</h2>
	<p>
		{{user.bio}}
	</p>
	<a class="btn btn-primary" href="/user/update"><h3>Update profile</h3></a>
	
</div>
