/* Navbar styles*/

nav {
    background: #21084D;
    box-shadow: 1px 1px 6px grey;
    z-index: 10;
}

@media (min-width: 992px) {
    #title {
        padding: 0px 30px;
    }
}

.add-card .card-block {
    padding: 10px;
}

.add-card input {
    margin: 0 20px;
    border: none;
}

.add-card a {
    color: #555555;
    float: right;
}

.add-card input:focus {
    outline: none;
}

@media(min-width: 576px) {
    .add-card input {
        height: 40px;
        font-size: 1.2rem;
    }
    .add-card a {
        padding: 10px;
    }
}

@media(max-width: 500px) {
    .dashboard-view {
        padding: 40px 0px;
    }
}

.avatar-small {
    height: 40px;
    border-radius: 50%;
}


/*Control Panel styles */

.dashboard-controls {
    background: #3C4A54;
    border-right: 1px solid #333;
    padding: 0;
    z-index: 21;
}

.dash-controls-title {
    padding: 20px 20px 0px 10px;
    color: #CCCCCC;
}

.dashboard-control {
    padding: 15px 5px 15px 20px;
}

.dashboard-controls a {
    color: #CCCCCC;
    display: block;
}

.dashboard-control:hover {
    background: rgb(48, 58, 66);
}

.dash-control-settings {
    border-top: 1px solid rgb(48, 58, 66);
}


/* Medium and up*/

@media (min-width: 768px) {
    .dashboard-controls {
        height: 100vh;
        border-right: 1px solid #CCCCCC;
        padding: 0;
    }
}


/* Large and up*/

@media (min-width: 992px) {
    .dashboard-controls {
        padding: 0;
    }
}

.dashboard-view {
    background: #FFFFFF;
    padding: 40px 0;
}

.dashboard-view a:hover {
    text-decoration: none;
}

.collection {
    text-align: center;
    color: rgba(51, 51, 51, 1);
    padding: 15px, 10px;
    box-shadow: 1px 1px 6px grey;
    margin: 10px;
    height: 259px;
    max-width: 200px;
}

.collection img {
    object-fit: scale-down;
}

.modal-header {
    background: deepskyblue;
    color: white;
}

.new-collection:focus {
    color: white;
    outline: none;
}

.modal-content {
    z-index: 102;
}

.new-collection {
    text-align: center;
    color: #EEEEEE;
    background: rgba(33, 8, 77, 1);
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 6px grey;
    bottom: 20px;
    right: 50px;
    position: fixed;
    z-index: 100;
}

.new-collection:hover {
    text-decoration: none;
    background: rgba(33, 8, 77, .8);
    box-shadow: 2px 4px 6px grey;
    color: white;
}

@media(max-width: 500px) {
    .new-collection {
        bottom: 10px;
        right: 20px;
    }
}

.collection-card {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    min-height: 300px;
    margin-bottom: 30px;
}

.collection-card img {
    height: 130px;
    object-fit: contain;
}

.collection-card:hover {
    box-shadow: 2px 2px 6px grey;
}

.collection-card .card-img {
    width: 100%;
}

.collection-card .card-block {
    height: 122px;
    background: #F5F5F5;
}

.collection-card .card-block a {
    color: #222222;
}

.collection-card .card-footer {
    background: #333333;
    color: #EEEEEE;
}

.collection-card .card-footer a {
    color: #AAA;
    float: right;
}

.col .navbar-fixed-top {
    background: #FFFFFF;
}

.item-card {
    width: 200px;
    min-height: 280px;
}

.item-card .card-img {
    padding: 20px 25px 20px 25px;
}

.item-card img {
    height: 120px;
    width: 100%;
    object-fit: contain;
    border-bottom: 1px dashed black;
}

.item-card .card-block {
    height: 112px;
}

.item-card .card-footer {
    border-top: none;
    background: #333333;
}

.collection-dropdown {
    margin: 30px;
    color: rgb(51, 51, 51);
    padding: 10px 10px;
}

.collection-title {
    font-size: 1.4rem;
    padding-left: 20px;
}

.card {
    box-shadow: 1px 1px 3px grey;
    border: none;
}