body {
    height: 100vh;
}

nav {
    box-shadow: 1px 1px 6px grey;
    background: #673AB7;
}

.navbar {
    border-radius: 0;
}

#title {
    padding: 0px 30px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.landing-page-info {
    box-shadow: -4px 2px 6px grey;
    background: grey;
    height: 60vh;
}

.dashboard-controls {
    padding: 20px 0;
    background: #EEEEEE;
    border-right: 1px solid #CCCCCC;
}

.dashboard-controls .row {
    padding: 14px 20px;
}

.control-title {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

.control-title a:hover {
    text-decoration: none;
    cursor: pointer;
}

.dashboard-controls a {
    color: #444444;
}

.dashboard-view {
    background: #FFFFFF;
    padding: 40px;
}

.dashboard-view a:hover {
    text-decoration: none;
}

.collection {
    text-align: center;
    color: rgba(51, 51, 51, 1);
    padding: 15px, 10px;
    box-shadow: 1px 1px 6px grey;
    margin: 10px;
    height: 259px;
    max-width: 200px;
}

.collection img {
    height: 150px;
    width: 150px;
}

.modal-header {
    background: deepskyblue;
    color: white;
}

.new-collection:focus {
    color: white;
    outline: none;
}

.new-collection {
    text-align: center;
    color: #EEEEEE;
    background: rgba(219, 68, 55, .9);
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 6px grey;
    bottom: 50px;
    right: 100px;
    position: fixed;
    z-index: 3000;
}

.new-collection:hover {
    text-decoration: none;
    background: rgba(219, 68, 55, .95);
    color: white;
}

.collection-card:hover {
    box-shadow: 2px 2px 6px grey;
}

.card-img {
    width: 100%;
}

.col .navbar-fixed-top {
    background: #FFFFFF;
}

.avatar-nav {
    height: 30px;
}

.index {
    background: #673AB7;
    box-shadow: 3px 2px 6px grey;
    color: rgb(51, 51, 51);
}

.collection-dropdown {
    margin: 30px;
    color: rgb(51, 51, 51);
    padding: 10px 10px;
}

.collection-title {
    font-size: 1.4rem;
    padding-left: 20px;
}

.card {
    box-shadow: 1px 1px 3px grey;
    border: none;
}